html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Iosevka Custom Web';
}

html, a{
    background-color: white;
    color: #2B292D;
}

@media (prefers-color-scheme: dark) {
    html, a {
        background-color: #2B292D;
        color: white;
    }
}

#hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

#message.selected {
    color: white;
    background-color: #0071E2;
    padding: 4px;
    border-radius: 4px;
}

#pipe {
    font-weight: lighter;
    filter: opacity(.9);
}

#pipe.light {
    filter: opacity(.1);
}

#links {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 16px;
    right: 16px;
    text-align: right;
}

#links li:first-child {
    margin-bottom: 8px;
}

#links li a::before {
    content: '[';
}

#links li a::after {
    content: ']';
}